@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AjaxSpaMvcCore.TagHelpers.RenderBodyRazorTagHelper

<div id="spa-content">
    <div id="body">
        @Model.AjaxRenderBody
    </div>
</div>